<mat-list role="list" class="matlist">
  <mat-list-item
    style="cursor: pointer"
    routerLink="/admin"
    [routerLinkActive]="['is-active']"
  >
    <p>Dashboard</p>
  </mat-list-item>
  <mat-list-item
    style="cursor: pointer"
    routerLink="customers"
    [routerLinkActive]="['is-active']"
    ><p>Customers</p></mat-list-item
  >
  <mat-list-item
    style="cursor: pointer"
    routerLink="products"
    [routerLinkActive]="['is-active']"
    ><p>Products</p></mat-list-item
  >
  <mat-list-item
    style="cursor: pointer"
    routerLink="orders"
    [routerLinkActive]="['is-active']"
    ><p>Orders</p></mat-list-item
  >
  <mat-list-item
    style="cursor: pointer"
    routerLink=""
    [routerLinkActive]="['is-active']"
    ><p>Siteye git..</p></mat-list-item
  >
</mat-list>
